  <div class="container">
    <h1>Listing Restaurants</h1>

    <ul>
      <% @restaurants.each do |restaurant| %>
        <li>
          <h2><%= link_to restaurant.name, restaurant %></h2>
          <p><%= restaurant.address %></p>
          <p><%= restaurant.phone_number %></p>
          <p><%= restaurant.category %></p>
          <%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-primary" %>
          <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"%>
        </li>
      <% end %>
    </ul>
</div>
